/* Thème */
body {
  --bkg-color: #f2f2f2;
  --header-color: white;
  --text-color: black;
  --button-color: #d0b8a8ce;
  --bkg-i-color: #c79e84;
  --hover-color: #d0b8a8;
}

body.dark-theme {
  --bkg-color: #20262e;
  --header-color: #20262e;
  --text-color: #f2f2f2;
  --button-color: #2a3039;
  --bkg-i-color: #4a5058;
  --hover-color: #333941;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --bkg-color: #20262e;
    --header-color: #20262e;
    --text-color: #f2f2f2;
    --button-color: #2a3039;
    --bkg-i-color: #4a5058;
    --hover-color: #333941;
  }
  body.light-theme {
    --bkg-color: #f2f2f2;
    --header-color: white;
    --text-color: black;
    --button-color: #d0b8a8ce;
    --bkg-i-color: #c79e84;
    --hover-color: #d0b8a8;
  }
}

body,
footer {
  background: var(--bkg-color);
}

header {
  background: var(--header-color);
}

body a,
body i,
h1,
h2,
h3,
p {
  color: var(--text-color);
}

#theme {
  background: var(--bkg-i-color);
}

#theme i:hover {
  box-shadow: 0px 0px 5px inset var(--text-color);
}

.div,
.devis a,
#navigation ul li a {
  background: var(--button-color);
}

#navigation ul li a:hover,
.devis a:hover {
  background: var(--hover-color);
}

form label {
  color: var(--text-color);
}

/* Thème */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  font-weight: bolder;
}

body li {
  list-style: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 20px;
}

/* Nav */

#menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navigation img {
  width: auto;
  height: 70px;
  margin-left: 50px;
  margin-top: 8px;
}

#navigation ul {
  display: flex;
  flex-wrap: wrap;
}

#navigation ul li {
  display: flex;
  margin-right: 35px;
  font-size: 1.3em;
}

#navigation ul li a {
  font-weight: bolder;
  border-radius: 15px;
  padding: 15px;
}

#navigation ul li a i {
  margin-right: 10px;
}

/* Section */

#section1 {
  display: flex;
  flex-direction: column;
  position: relative;
}

#section1 img {
  width: 100%;
  height: 500px;
  opacity: 0.9;
  object-fit: cover;
}

.div {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#mail {
  font-weight: bolder;
}

#contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 1.1em;
  margin-left: 5px;
}

#contact iframe {
  width: 100%;
  height: 100%;
}

#title {
  width: 60%;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

#section2 article {
  height: 540px;
}

#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.devis a {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#section3 article {
  font-size: 1.4em;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

footer li a {
  font-size: 1.1em;
  font-weight: bolder;
  padding-left: 10px;
}

footer i {
  margin-right: 5px;
}

/* Devis */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

form label {
  font-size: 1.3em;
  font-weight: bolder;
}

/* Couleurs interfaces page d'accueil */

.div,
.devis a,
#navigation ul li a {
  box-shadow: 0px 0px 7px #000000;
}

/* Hover interface page d'accueil */

#navigation ul li a:hover,
.devis a:hover {
  box-shadow: 0px 0px 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Thème */

#theme {
  position: fixed;
  right: 10px;
  bottom: 40px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

#theme i {
  font-size: 1.8em;
  padding: 5px 10px;
}

#theme i:hover {
  border-radius: 50%;
}

* {
  transition: all 0.25s;
}

/* Version tablette -> 768px */

@media screen and (max-width: 1023.5px) {
  #navigation {
    flex-direction: column;
  }

  #navigation img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #navigation ul li {
    margin-right: 29px;
  }

  #navigation ul {
    justify-content: space-between;
  }

  #navigation ul li a {
    width: 180px;
    text-align: center;
  }

  #section2 {
    flex-direction: column;
  }

  #section2 article {
    height: 100%;
    width: 95%;
    margin-bottom: 30px;
  }

  #contact div {
    margin-bottom: 30px;
  }

  #section3 {
    margin-top: 20px;
  }
}

/* Version mobile 768 px -> 320px */

@media screen and (max-width: 767.5px) {
  #navigation img {
    margin-bottom: 10px;
  }

  #navigation {
    flex-direction: column;
  }

  #divMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #navigation ul {
    width: 100%;
    margin-left: -40px;
  }

  #navigation ul li {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #navigation ul li a {
    width: 100%;
    border-radius: 0px;
  }

  #menu-icon {
    display: initial;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 30px;
    width: 23px;
    height: 25px;
  }

  .nav-invisible {
    display: none;
  }

  #title {
    width: 95%;
  }

  #section2 article {
    height: 100%;
    width: 95%;
    margin-bottom: 30px;
  }

  #contact {
    flex-direction: column;
    margin-right: 5px;
  }

  #contact iframe {
    height: 300px;
  }

  .devis a {
    font-size: 0.8em;
  }

  #theme {
    position: initial;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    border-radius: 0%;
    z-index: 0;
  }

  #theme i {
    position: relative;
    top: 25px;
    right: 5px;
    font-size: 1.5em;
  }
}

/* Loader */
.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #d7c3b7;
  animation: dot-move 1s infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes dot-move {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(20px);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
